<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="KAPx Tutor App">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html">
      <![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/main.css"/>
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/calc.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/webix.css">

    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<head>
<body style="background-color:white">
<div class="container hidden" id="tutor-view" style="width: 250px">
    <div class="row well well-sm">
        <div>
            <p>Today is: <span class="today"></span></p>
            <p><b>Instructor: </b><span class="instructor"></span></p>
            <p><b>Student: </b><span class="clientParticipant"></span></p>
            <p><b>Subject: </b><span class="subject"></span></p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="btn-group" role="group" aria-label="...">
            <button style="width: 125px" type="button" id="btn-subjects-menu" class="btn btn-default">Subjects</button>
            <button style="width: 125px" type="button" id="btn-toolbox-menu" class="btn btn-default">Toolbox</button>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default" id="subject-options">
            <div class="panel-heading">
                Select tutoring subject(s):
            </div>

            <div>
                <table id="subjectTable" class="table" data-toggle="table"
                       data-height="280" data-width="20"
                       data-click-to-select="true">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="subject">Subject</th>
                    </tr>
                    </thead>
                </table>
                <p style="margin-top:5px">
                    <input id="btn-subjects" class="btn btn-primary btn-block" type="button" value="Submit">
                </p>

                <p id="message"></p>
            </div>
        </div>
        <div class="panel panel-warning hidden" id="tutor-toolbox">
            <div class="panel-heading">
                Hangout Toolbox
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <a class="btn btn-block btn-primary btn-calendar">
                    <i class="fa fa-calendar"></i> Calendar
                </a>
                <a class="btn btn-block btn-success btn-calculator">
                    <i class="fa fa-calculator"></i> Calculator
                </a>
                <a class="btn btn-block btn-info btn-dictionary">
                    <i class="fa fa-book"></i> Dictionary
                </a>

                <hr>
            </div>
        </div>
    </div>
</div>

    <!-- Student view -->
<div class="container" id="student-view" style="width: 275px">
    <div class="row well well-sm">
        <div>
            <p>Today is: <span class="today"></span></p>
            <p><b>Instructor: </b><span class="instructor"></span></p>
        </div>
    </div>
    <!-- Toolbox button panel -->
    <div class="row">
            <div class="panel panel-warning" id="student-toolbox">
                <div class="panel-heading">
                    Hangout Toolbox
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <a class="btn btn-block btn-primary btn-calendar">
                        <i class="fa fa-calendar"></i> Calendar
                    </a>
                    <a class="btn btn-block btn-success btn-calculator">
                        <i class="fa fa-calculator"></i> Calculator
                    </a>
                    <a class="btn btn-block btn-info btn-dictionary">
                        <i class="fa fa-book"></i> Dictionary
                    </a>

                    <hr>
                </div>
                <!-- /.panel-body -->

            </div>
        </div>
        <div class="row" style="margin-top: 20px;">

            <div id="feedback-tab" class="feedback-tab">
                <span><a href="javascript:;" class="feedback-icon" id="feedback">Please give us your
                    feedback!</a></span>
            </div>
        </div>
    </div>
</div>
<div class="container" id="app-view" style="width: 250px">
    <div class="row">
        <div class="hidden" id="app-calculator">
            <FORM NAME="Calc" id="calculator">
                <TABLE BORDER=2>
                    <TR>
                        <TD>
                            <INPUT TYPE="text" NAME="Input">
                            <br>
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            <INPUT TYPE="button" NAME="one" VALUE="  1  " OnClick="Calc.Input.value += '1'">
                            <INPUT TYPE="button" NAME="two" VALUE="  2  " OnCLick="Calc.Input.value += '2'">
                            <INPUT TYPE="button" NAME="three" VALUE="  3  " OnClick="Calc.Input.value += '3'">
                            <INPUT TYPE="button" NAME="plus" VALUE="  +  " OnClick="Calc.Input.value += ' + '">
                            <br>
                            <INPUT TYPE="button" NAME="four" VALUE="  4  " OnClick="Calc.Input.value += '4'">
                            <INPUT TYPE="button" NAME="five" VALUE="  5  " OnCLick="Calc.Input.value += '5'">
                            <INPUT TYPE="button" NAME="six" VALUE="  6  " OnClick="Calc.Input.value += '6'">
                            <INPUT TYPE="button" NAME="minus" VALUE="  -  " OnClick="Calc.Input.value += ' - '">
                            <br>
                            <INPUT TYPE="button" NAME="seven" VALUE="  7  " OnClick="Calc.Input.value += '7'">
                            <INPUT TYPE="button" NAME="eight" VALUE="  8  " OnCLick="Calc.Input.value += '8'">
                            <INPUT TYPE="button" NAME="nine" VALUE="  9  " OnClick="Calc.Input.value += '9'">
                            <INPUT TYPE="button" NAME="times" VALUE="  x  " OnClick="Calc.Input.value += ' * '">
                            <br>
                            <INPUT TYPE="button" NAME="clear" VALUE="  c  " OnClick="Calc.Input.value = ''">
                            <INPUT TYPE="button" NAME="zero" VALUE="  0  " OnClick="Calc.Input.value += '0'">
                            <INPUT TYPE="button" NAME="DoIt" VALUE="  =  "
                                   OnClick="Calc.Input.value = eval(Calc.Input.value)">
                            <INPUT TYPE="button" NAME="div" VALUE="  /  " OnClick="Calc.Input.value += ' / '">
                            <br>
                        </TD>
                    </TR>
                </TABLE>
            </FORM>
        </div>
        <div class="hidden" style="margin-top: 10px" id="app-calendar"></div>

    </div>
</div>
        <!-- Script below this line -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-spinedit.js"></script>

    <script src="//kx-tutor-hangout-app.appspot.com/js/utils.js?v=1.0"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/hangout.js?v=1.21"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/app.js?v=1.20"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/calc.js?v=1.21"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-table.min.js"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/webix.js"></script>
</body>
]]></Content>
</Module>