<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="KAPx Tutor App">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html">
      <![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<head>
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/boilerplate.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/bootstrap-spinedit.css" />
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/main.css" />
    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<head>
<body style="background-color:white">

  <div class="container">
    <div class="hidden" style="margin-left: 5px" id="tutor-view">
        <div class="well well-sm" style="width: 250px;height:60px;">

            <p><b>Instructor: </b><span class="instructor"></span></p>

            <p><b>Student: </b><span class="clientParticipant"></span></p>

        </div>
        <div class="row clearfix">
            <div class="col-md-2 column" style="width:280px">
                <p>Please select tutoring subject(s):</p>

                <div>
                    <table id="subjectTable" class="table" data-toggle="table"
                           data-height="280" data-width="20"
                           data-click-to-select="true">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="subject">Subject</th>
                        </tr>
                        </thead>
                    </table>
                    <p style="margin-top:5px">
                        <input id="btn-subjects" class="btn btn-info" type="button" value="Submit">
                    </p>

                    <p id="message"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix" style="margin-left: 5px" id="student-view">
        <div class="col-md-4 column">
            <div class="well well-sm" style="width: 250px;height:60px;">
                <p><b>Instructor: </b><span class="instructor"></span></p>
            </div>
            <p style="margin-top: 5px">
                Please rate your tutor:
            </p>

            <div class="col-md-4 column" id="tutor-rating">
                <table>
                    <tr>
                        <td>Knowledgable</td>
                        <td><input type="text" id="spinknow" class="aSpinEdit spinedit"/></td>
                        <div class="spinedit">
                            <i class="icon-chevron-up"></i>
                            <i class="icon-chevron-down"></i>
                        </div>

                    </tr>
                    <tr>
                        <td>Communications</td>
                        <td>
                            <input type="text" id="spincomm" class="aSpinEdit spinedit noSelect"/>

                            <div class="spinedit">
                                <i class="icon-chevron-up"></i>
                                <i class="icon-chevron-down"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Overall</td>
                        <td>
                            <input type="text" id="spinall" class="aSpinEdit spinedit noSelect"/>

                            <div class="spinedit">
                                <i class="icon-chevron-up"></i>
                                <i class="icon-chevron-down"></i>
                            </div>
                        </td>
                    </tr>
                </table>

                <p style="margin-top: 5px">
                    <textarea row="3" cols="27" placeholder="Comments"></textarea>
                </p>

                <p style="margin-top:5px">
                    <input id="btn-survey" class="btn btn-info" type="button" value="Submit">
                </p>
            </div>
        </div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-spinedit.js"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->

    <script src="//kx-tutor-hangout-app.appspot.com/js/app.js?v=1.10"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-table.min.js"></script>
</body>

]]></Content>
</Module>