<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/boilerplate.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/bootstrap-spinedit.css"/>
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/main.css"/>
    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
    <title>KX Hangout</title>
</head>
<body style="background-color:white">
<div class="container">
    <div class="row clearfix" style="margin-left: 5px">
        <div class="col-md-4 column">
            <p id="count"></p>

            <p><b>Instructor: </b><span id="localParticipant"></span></p>

            <p>Participants: <span id="participants"></span></p>

            <p>Please select tutoring subject(s):</p>

            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-2 column" style="width:250px">
                        <div>
                            <table id="subjectTable" class="table" data-toggle="table"
                                   data-height="280" data-width="20"
                                   data-click-to-select="true">
                                <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="subject">Subject</th>
                                </tr>
                                </thead>
                            </table>
                            <p style="margin-top:5px">
                                <input id="get-selections" class="btn btn-info" type="button" value="Submit">
                            </p>

                            <p id="message"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix" style="margin-left: 5px">
            <div class="col-md-4 column">
                <div class="well well-sm">
                    <p><b>Instructor: </b><span id="localParticipant"></span></p>

                    <p><b>Student: </b><span id="studentParticipant"></span></p>
                </div>
                <div class="container">
                    <div class="col-md-2 column" style="width:250px">
                        <div>
                            <table>
                                <tr>
                                    <td>Knowledgable</td>
                                    <td><input type="text" id="spinKnow" class="aSpinEdit"/></td>
                                </tr>
                                <tr>
                                    <td>Communications</td>
                                    <td><input type="text" id="spinKnow" class="aSpinEdit"/></td>
                                </tr>
                                <tr>
                                    <td>Overall</td>
                                    <td><input type="text" id="spinKnow" class="aSpinEdit"/></td>
                                </tr>
                            </table>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <input type="text" class="form-control" id="comments" placeholder="Comments">
                                </div>

                                <p style="margin-top:5px">
                                    <input id="get-selections" class="btn btn-info" type="button" value="Submit">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-spinedit.js"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->

<script src="//kx-tutor-hangout-app.appspot.com/js/app.js?v=1.01"></script>
<script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-table.min.js"></script>

</body>
</html>
