<!DOCTYPE html>

<html>
<head>
    <title>KAPx Tutor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-sm-10 column">
                <div class="table-wrapper">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tutor</th>
                            <th>Student</th>
                            <th>Start</th>
                            <th>Subject</th>
                            <th>End</th>
                            <th>Duration</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for session in sessions_query %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td class="text-middle">{{session.tutor_name}}</td>
                                <td class="text-middle">{{session.participant_name}}</td>
                                <td class="text-middle">{{session.subject}}</td>
                                <td class="text-middle">{{session.start}}</td>
                                <td class="text-middle">{{session.end}}</td>
                                <td class="text-middle">{{session.duration}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

</body>
</html>
