<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>KAPx Tutor</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<div style="margin: 15px 5px 15px">
    Click button to launch a Tutor Hangout:
</div>
<div style="margin-left: 5px"
     class="g-hangout"
     data-render="createhangout"
     data-initial_apps="[{ widget_size: 175, hangout_type: 'moderated', app_id : '910459759135', start_data : 'tutor', 'app_type' : 'ROOM_APP' }]">
</div>

</body>
</html>