<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="KAPx Tutor App">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html">
      <![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->

    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/static/css/boilerplate.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/main.css" />
    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>


<body style="background-color:whitesmoke">
 <div class="container">
    <div class="row clearfix" style="margin-left: 5px">
            <div class="col-md-4 column">

              <p id="count"></p>

                <p><b>Instructor: </b><span id="tutor"></span></p>
                <p>Participants: <span id="participants"></span></p>
                <p>Please select tutoring subject(s):</p>
              <div class="container">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <div>
                            <table id="subjectTable" class="table" data-toggle="table"
                                        data-height="300" data-width="20"
                                        data-click-to-select="true">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="subject">Subject</th>
                                    </tr>
                                </thead>
                            </table>
                           <p style="margin-top:5px">
                                <input id="get-selections" class="btn btn-info" type="submit" value="Submit">
                           </p>
                           <p id="message"></p>
                        </div>
                    </div>
                </div>
            </div>
</div>

    <!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/app.js"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-table.min.js"></script>
</body>
]]></Content>
</Module>