<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!--<link rel="stylesheet" href="//kx-tutor-hangout-app.appspot.com/css/boilerplate.min.css">-->

    <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-spinedit.css"/>
    <link rel="stylesheet" href="css/bootstrap-table.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <!--<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>-->
    <title>KX Hangout</title>
</head>
<body style="background-color:white">
<div class="container" id="tutor-view" style="width: 300px">
    <div class="row well well-sm">
        <div>
            <p><b>Instructor: </b><span class="instructor"></span></p>

            <p><b>Student: </b><span class="clientParticipant"></span></p>

        </div>
    </div>
    <div class="row">
        <div>
            <p class="lead">Select tutoring subject(s):</p>

            <div>
                <table id="subjectTable" class="table" data-toggle="table"
                       data-height="280" data-width="20"
                       data-click-to-select="true">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="subject">Subject</th>
                    </tr>
                    </thead>
                </table>
                <p style="margin-top:5px">
                    <input id="btn-subjects" class="btn btn-primary" type="button" value="Submit">
                </p>

                <p id="message"></p>
            </div>
        </div>
    </div>
</div>
<div class="container" id="student-view" style="width: 300px">
    <div class="row well well-sm">
        <div>
            <p><b>Instructor: </b><span class="instructor"></span></p>

            <p><b>Student: </b><span class="clientParticipant"></span></p>
        </div>
    </div>
    <div class="row">
        <div id="tutor-rating">
            <p class="lead" style="margin-top: 5px">
                Please rate your tutor:
            </p>

            <table style="width: 250px">
                <tr>
                    <td>Knowledgable</td>
                    <td><input type="text" id="spinknow" class="aSpinEdit spinedit"/>

                    </td>
                </tr>
                <tr>
                    <td>Communications</td>
                    <td>
                        <input type="text" id="spincomm" class="aSpinEdit spinedit noSelect"/>

                    </td>
                </tr>
                <tr>
                    <td>Overall</td>
                    <td>
                        <input type="text" id="spinall" class="aSpinEdit spinedit noSelect"/>

                    </td>
                </tr>
            </table>

            <p style="margin-top: 5px;">
                <textarea row="3" cols="40" placeholder="Comments"></textarea>
            </p>

            <p style="margin-top:5px">
                <input id="btn-survey" class="btn btn-primary" type="button" value="Submit">
            </p>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-spinedit.js"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->

<!--<script src="//kx-tutor-hangout-app.appspot.com/js/app.js?v=1.01"></script>-->
<!--<script src="js/app.js?v=1.03"></script>-->
<script>
    $(function () {
        $('.instructor').html('Alan Turing');
        $('.clientParticipant').html('Charlie Brown');

        $('.aSpinEdit').spinedit({
            minimum: 0,
            maximum: 5,
            step: 0.25,
            value: 3.0,
            numberOfDecimals: 2
        });

        console.log('loading sknow');
        $('#spinknow').spinedit({
            minimum: 0,
            maximum: 5,
            step: 0.25,
            numberOfDecimals: 2
        });

        console.log('loading skcomm');
        $('#spincomm').spinedit({
            minimum: 0,
            maximum: 5,
            step: 0.25,
            numberOfDecimals: 2
        });

        console.log('loading skall');
        $('#spinall').spinedit({
            minimum: 0,
            maximum: 5,
            step: 0.25,
            numberOfDecimals: 2
        });

        $('.aSpinEdit').on("valueChanged", function (e) {
            console.log(e.value);
        });
    });
</script>
</body>
</html>
