<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
   <!--<link rel="stylesheet" href="css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-spinedit.css"/>-->
    <link rel="stylesheet" href="css/bootstrap-table.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <!--<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>-->
    <title>KX Hangout</title>
</head>
<body style="background-color:white">
<div class="container" id="tutor-view" style="width: 250px">
    <div class="row well well-sm">
        <div>
            <p><b>Instructor: </b><span class="instructor"></span></p>

            <p><b>Student: </b><span class="clientParticipant"></span></p>
            <p><b>Subject: </b><span id="subject"></span></p>
        </div>
    </div>
    <div class="row">
        <div>
            <p class="lead">Select tutoring subject(s):</p>

            <div>
                <table id="subjectTable" class="table" data-toggle="table"
                       data-height="280" data-width="20"
                       data-click-to-select="true">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="subject">Subject</th>
                    </tr>
                    </thead>
                </table>
                <p style="margin-top:5px">
                    <input id="btn-subjects" class="btn btn-primary" type="button" value="Submit">
                </p>

                <p id="message"></p>
            </div>
        </div>
    </div>
</div>
<div class="container" id="student-view" style="width: 250px">
    <div class="row well well-sm" style="margin-left: 5px">
        <div>
            <p><b>Instructor: </b><span class="instructor"></span></p>

        </div>
    </div>
    <div class="row" style="margin-left: 5px;margin-top: 200px;">

        <div id="feedback-tab" class="feedback-tab">
		<span><a href="javascript:;" class="feedback-icon" id="feedback">Please give us your feedback!</a></span>
	</div>
        <!--<div id="tutor-rating">-->
            <!--<p class="lead" style="margin-top: 5px">-->
                <!--Please rate your tutor:-->
            <!--</p>-->
            <!--<table style="width: 250px">-->
                <!--<tr>-->
                    <!--<td>Knowledgable</td>-->
                    <!--<td><input type="text" id="spinknow" class="aSpinEdit spinedit"/>-->

                    <!--</td>-->
                <!--</tr>-->
                <!--<tr style="margin-top: 5px">-->
                    <!--<td>Communications</td>-->
                    <!--<td>-->
                        <!--<input type="text" id="spincomm" class="aSpinEdit spinedit noSelect"/>-->

                    <!--</td>-->
                <!--</tr>-->
                 <!--<tr style="margin-top: 5px">-->
                    <!--<td>Overall</td>-->
                    <!--<td>-->
                        <!--<input type="text" id="spinall" class="aSpinEdit spinedit noSelect"/>-->

                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->

            <!--<p style="margin-top: 5px;">-->
                <!--<textarea row="3" cols="40" id="comments" placeholder="Comments"></textarea>-->
            <!--</p>-->

            <!--<p style="margin-top:5px">-->
                <!--<input id="btn-survey" class="btn btn-primary" type="button" value="Submit">-->
            <!--</p>-->
        <!--</div>-->
    </div>
</div>

        <!-- Script below this line -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-spinedit.js"></script>

    <script src="js/index.js?v=1.03"></script>
    <script src="//kx-tutor-hangout-app.appspot.com/js/bootstrap-table.min.js"></script>



</body>
</html>
