<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>KAPx Tutor Sessions</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color:#ffffff">
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/admin">Overview <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#">Sessions</a></li>
                <li><a href="/analytics">Analytics</a></li>
                <li><a href="/reports">Tutor Report Card</a></li>

            </ul>

        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Tutor Hangouts Sessions</h1>

            <div class="col-sm-3 input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tutor</th>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Start</th>
                    <th>Duration (min)</th>
                    <th>Survey</th>
                </tr>
                </thead>
                <tbody>

                {% for session in sessions_query %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="text-middle">{{session.tutor_name}}</td>
                    <td class="text-middle">{{session.participant_name}}</td>
                    <td class="text-middle">{{session.subject}}</td>
                    {% if session.start %}
                    <td class="text-middle">{{session.start.strftime('%Y-%m-%d %H:%M')}}</td>

                    {% else %}
                    <td class="text-middle">-</td>
                    {% endif %}
                    {% if session.duration %}
                    <td class="text-middle">{{'%10.2f' % session.duration| float}}</td>
                    {% else %}
                    <td class="text-middle">-</td>
                    {% endif %}
                    <td class="text-middle"><a href="#">Survey</a><span class="hidden gid">{{session.gid}}</span></td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

</body>
</html>
