<!DOCTYPE html>

<html>
<head>
    <title>KAPx Tutor Client</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-sm-8 column">
            <div class="table-wrapper">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Subject</th>
                        <th colspan="2">Status</th>
                        <th>Schedule</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subject in subjects_query %}
                    <tr>
                        <td><img class="img-thumbnail" src={{subject.image_url}}></td>
                        <td class="text-middle">{{subject.subject}}</td>

                        {% if subject.is_available %}
                            <td style="color: #398439;">Available</td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs launch-hangout"
                                        style="vertical-align: middle">
                                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>

                                    <div class="hidden gid">{{subject.gid}}</div>
                                    <div class="hidden subject">{{subject.subject}}</div>
                                </button>
                            </td>
                        {% elif subject.is_busy %}
                            <td>Busy <span class="glyphicon glyphicon-time" aria-hidden="true"
                                           style="vertical-align: middle"></span></td>
                            <td></td>
                        {% else %}
                            <td>Not Available</td>
                            <td></td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#schedule-modal">
                                Click for schedule &nbsp; <span class="glyphicon glyphicon-time" aria-hidden="true"
                                                                style="vertical-align: middle"></span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="show"></div>
<div class="modal fade" id="schedule-modal" tabindex="-1" role="dialog" aria-labelledby="Tutor Schedule"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Tutor Hangout Schedule</h4>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Monday</td>
                    <td>11am - 11pm</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>11am - 11pm</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>11am - 11pm</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>11am - 11pm</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>11am - 11pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>1pm - 11pm</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>11am - 3pm</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/tutor-client.js?v=1.01"></script>
</body>
</html>
